---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title={post.data.title}>
  <article
    class="sm:col-span-2 lg:col-span-6 lg:col-start-3 lg:row-start-2 self-center mb-32"
  >
    <header class="mb-8">
      <h1 class="text-4xl lg:text-6xl font-semibold text-balance">
        {post.data.title}
      </h1>
      <h2 class="text-lg lg:text-xl text-white/70 mb-8">
        {post.data.description}
      </h2>
      <span class="text-lg lg:text-xl text-white/70">
        {new Date(post.data.date).toLocaleDateString("en-GB", dateOptions)}
      </span>
    </header>
    <div class="prose text-lg lg:text-xl text-pretty">
      <Content />
    </div>
    <div class="mt-32 border-b-2 border-white/60"></div>
  </article>
</Layout>
