---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Layout title={post.data.title}>
  <article class="lg:col-span-6 lg:col-start-3 self-center mb-64">
    <header class="mb-8">
      <h1 class="text-6xl font-semibold text-balance">{post.data.title}</h1>
      <span class="text-white/60">
        {new Date(post.data.date).toLocaleDateString("en-GB", dateOptions)}
      </span>
    </header>
    <div class="prose text-xl md:text-lg lg:text-xl">
      <Content />
    </div>
  </article>
</Layout>
