---
import Layout from "../../components/Layout.astro";
import PostList from "../../components/PostList.astro";
---

<Layout>
  <section class="col-span-6 col-start-3">
    <h1 class="uppercase font-bold mb-2">Posts</h1>
    <PostList type="posts" />
  </section>
</Layout>
