---
import Layout from "../../components/Layout.astro";
import PostList from "../../components/PostList.astro";
---

<Layout title="Posts">
  <section class="sm:col-span-2 lg:col-span-6 lg:col-start-3 lg:row-start-2">
    <h1 class="text-sm uppercase font-semibold mb-2">All posts</h1>
    <PostList type="posts" />
  </section>
</Layout>
