---
import Layout from "../../components/Layout.astro";
import PostList from "../../components/PostList.astro";
---

<Layout title="Photos">
  <section class="">
    <h1 class="uppercase font-semibold mb-2">Photos</h1>
    <PostList type="photos" />
  </section>
</Layout>
