---
import Layout from "../../components/Layout.astro";
import PostList from "../../components/PostList.astro";
---

<Layout title="Photos">
  <section class="lg:col-span-6 lg:col-start-3 lg:row-start-2">
    <h1 class="text-sm uppercase font-semibold mb-2">All photos</h1>
    <PostList type="photos" />
  </section>
</Layout>
