---
import Layout from "../../components/Layout.astro";
import PhotoList from "../../components/PhotoList.astro";
---

<Layout title="Photographs">
  <section class="sm:col-span-2 lg:col-span-10 lg:col-start-3 lg:row-start-2">
    <h1 class="text-[12vw] font-semibold -">Photographs</h1>
    <PhotoList type="photos" />
  </section>
</Layout>
