@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-soehne);
  --font-serif: var(--font-martina-plantijn);
  --color-fenix-red: #9d492d;
  --color-fenix-green: #5e7664;
}

body {
  font-feature-settings: "ss02" 1, "calt", "case";
}

.prose a,
.link {
  text-underline-offset: 2px;
  text-decoration: underline;
}

.prose a:hover,
.footer a:hover,
.hover:hover,
.link:hover {
  text-decoration: underline;
  color: var(--color-white);
  text-underline-offset: 4px;
}

.prose p {
  @apply max-w-prose leading-snug;
}

.prose p + p {
  @apply mt-4;
}

.prose p + ul,
.prose p + ol,
.prose ul + p,
.prose ol + p {
  @apply mt-8;
}

.prose ul {
  list-style-type: disc;
}

.prose ol {
  list-style-type: decimal;
}

.prose li + li {
  @apply mt-3;
}

.prose ul,
.prose ol {
  @apply ml-8;
}

.prose h1,
.prose h2,
.prose h3,
.prose h2 {
  @apply text-2xl font-semibold mt-8 mb-4;
}

.prose img {
  @apply border-2 rounded-xs my-8 bg-white/80;
}
