---
import Layout from "../components/Layout.astro";
---

<Layout title="Colophon">
  <section
    class="sm:col-span-2 lg:col-span-6 lg:col-start-3 lg:row-start-2 self-center"
  >
    <h2 class="text-4xl lg:text-6xl font-semibold mb-8">Colophon</h2>
    <article
      class="md:col-start-4 space-y-4 mt-3 prose text-lg lg:text-xl leading-normal max-w-xl"
    >
      <p>
        Photo posts all shot on a
        <a href="https://en.wikipedia.org/wiki/Fujifilm_X-Pro3">
          Fujifilm X-Pro3
        </a>
        .
      </p>
      <p>
        I mostly use Fujinon XF 35mm and 16mm lenses. Sometimes I use a Minolta
        M-Rokkor 40mm, Pentax Asahi Super-Takumar 55mm or (Bec’s) Leica Summilux
        50mm lens.
      </p>
      <p>
        Type set in
        <a href="https://klim.co.nz/retail-fonts/soehne/">Söhne</a>
        by
        <a href="https://klim.co.nz/">Klim</a>.
      </p>
      <p>
        Styled with
        <a href="https://tailwindcss.com/">Tailwind CSS</a>.
      </p>
      <p>
        Statically generated with
        <a href="https://astro.build/">Astro</a>.
      </p>
      <p>
        Hosted by
        <a href="https://cloudflare.com/">Cloudflare</a>.
      </p>
      <p>
        Glued together with
        <a href="https://github.com/jonheslop/jfh-2025">javascript by me</a>
        .
      </p>

      <p>
        I’ve wrote a little more about
        <a href="/posts/2021/15-redesign">this iteration here</a>.
      </p>
      <p>
        And here is
        <a href="/history"> an archive of all the old sites here </a>
        .
      </p>
    </article>
  </section>
</Layout>
