---
import Layout from "../components/Layout.astro";
---

<Layout title="History">
  <article
    class="sm:col-span-2 lg:col-span-6 lg:col-start-3 lg:row-start-2 self-center mb-64"
  >
    <header class="mb-8">
      <h1 class="text-4xl lg:text-6xl font-semibold text-balance">History</h1>
    </header>
    <div class="prose text-lg lg:text-xl">
      <p>An incomplete archive of all my personal websites</p>
      <ul>
        <li>
          2025: The <a href="https://github.com/jonheslop/jfh-2025"
            >current site.</a
          >
        </li>
        <li>
          <a href="https://2021.jonheslop.com">2021</a>: I like the grid layout,
          but I fell out of love with next.js.
        </li>
        <li>
          <a href="https://2017.jonheslop.com">2017</a>: This one had a lot of
          things in common with 2021.
        </li>
        <li>
          <a href="https://2012.jonheslop.com">2012</a>: This was a good one, I
          made this when I was freelancing before I moved back to London.
        </li>
        <li>
          <a href="https://2011.jonheslop.com">2011</a>: I liked this one too,
          this was a basically a carbon copy of <a href="https://nazhamid.com/"
            >Naz Hamid’s</a
          > ‘the personal page’ format, it was a great idea.
        </li>
        <li>
          <a href="https://2010.jonheslop.com">2010</a>: This one was well
          ugly... I think it was a riff of tumblr theme at the time.
        </li>
        <li>
          <a href="https://2009.jonheslop.com">2009</a>: This was the first one
          I made after getting a job I. I still like it considering.
        </li>
        <li>
          Lost history... I made my first website in 2001 (when I was 14) using
          geocities, I used the free domain
          <em>jonathanheslop.tk</em>, I’m really sad to not have a backup. I had
          a 0.3 megapixel digital camera with a 16MB memory card and I used to
          post photos/videos on there. I was called into the headmasters office
          about it — they blocked the site from the school network.
        </li>
      </ul>
    </div>
  </article>
</Layout>
