---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import PostList from "../components/PostList.astro";
import StreamList from "../components/StreamList.astro";
import LatestPost from "../components/LatestPost.astro";

const lastSevenDays = (await getCollection("stream"))
  .sort((a, b) => {
    const [yearA, dayA] = a.id.split("/").map(Number);
    const [yearB, dayB] = b.id.split("/").map(Number);
    if (yearB !== yearA) return yearB - yearA;
    return dayB - dayA;
  })
  .slice(0, 6);
---

<Layout title="Hello">
  <ul
    class="grid grid-cols-2 sm:grid-cols-subgrid sm:col-span-2 lg:col-span-12 lg:row-start-2 gap-2 sm:gap-4 md:"
  >
    <h1
      class="col-span-full lg:col-start-3 text-sm uppercase font-semibold text-white/70"
    >
      Photo stream
    </h1>
    <StreamList posts={lastSevenDays} />
    <a
      href="/stream"
      class="col-span-full lg:col-start-3 lg:row-start-3 block text-white/70 mt-2"
    >
      See the full stream &raquo;
    </a>
  </ul>

  <section class="lg:col-span-6 xl:col-span-4 xl:col-start-3 lg:row-start-3">
    <h1 class="text-sm uppercase font-semibold mb-4 text-white/70">
      Recent posts
    </h1>
    <LatestPost type="posts" />
    <PostList type="posts" recent={true} />
  </section>
  <section
    class="lg:col-span-6 xl:col-span-4 xl:col-start-9 lg:row-start-3 flex flex-col"
  >
    <h1 class="text-sm uppercase font-semibold mb-4 text-white/70">
      Recent photo posts
    </h1>
    <LatestPost type="photos" />
    <PostList type="photos" recent={true} />
  </section>
</Layout>
