---
import Layout from "../components/Layout.astro";
import PostList from "../components/PostList.astro";
---

<Layout title="Hello">
  <section class="lg:col-span-4 lg:col-start-3 lg:row-start-2">
    <h1 class="text-sm uppercase font-semibold mb-2">Recent posts</h1>
    <PostList type="posts" recent={true} />
  </section>
  <section class="lg:col-span-4 lg:col-start-9 lg:row-start-2">
    <h1 class="text-sm uppercase font-semibold mb-2">Recent photo posts</h1>
    <PostList type="photos" recent={true} />
  </section>
</Layout>
