---
import { Image } from "astro:assets";

import me from "../assets/jon-heslop-2024.jpg";
---

<div class="col-span-6 col-start-3 mt-32">
  <figure class="border-2 rounded-xs">
    <Image
      src={me}
      alt="Jon Heslop in his house"
      class="mix-blend-luminosity hover:mix-blend-normal"
      layout="constrained"
    />
    <figcaption class="text-xs text-neutral-800 py-2 px-1 bg-white/90">
      Self-portrait, Fujifilm X-Pro3, Leica Summilux-M 50 ƒ/1.4{" "}
      <span class="tracking-wider"> ASPH </span>
    </figcaption>
  </figure>

  <header class="flex items-end gap-4 mt-8">
    <h1 class="text-4xl font-extrabold">Jon Heslop</h1>
    <h2 class="text-2xl text-white/60">he/him</h2>
  </header>
  <div class="prose">
    <p class="text-lg leading-snug mt-4 max-w-xl">
      Jon Heslop is a web developer based in Walthamstow, he lives with his wife
      <a href="https://www.instagram.com/becgoss/">Rebecca</a>
      and their dog,
      <a href="https://www.instagram.com/maudethebord/">Maude</a>. He enjoys
      cycling, cooking and hanging out with&nbsp;friends.
    </p>
  </div>
</div>
