---
import { Image } from "astro:assets";

import me from "../assets/jon-heslop-2024.jpg";
---

<section
  class="sm:col-span-2 lg:col-span-10 lg:col-start-3 lg:row-start-3 grid sm:grid-cols-2 lg:grid-cols-10 gap-8 py-32 items-start"
>
  <figure class="border-4 rounded-xs lg:col-span-6">
    <Image
      src={me}
      alt="Jon Heslop in his house"
      class="mix-blend-luminosity hover:mix-blend-normal"
      layout="constrained"
    />
    <figcaption
      class="text-xs text-neutral-800 pt-2 p-1 bg-white/90 uppercase-forms"
    >
      Self-portrait, Fujifilm X-Pro3, Leica Summilux-M 50 ƒ/1.4
      <span class="tracking-wider"> ASPH </span>
    </figcaption>
  </figure>

  <article class="lg:col-span-4">
    <h2 class="text-sm uppercase font-bold mb-4">About me</h2>
    <div class="prose xl:text-lg leading-snug max-w-xl text-pretty">
      <p>
        Jon Heslop is a web developer based in Walthamstow, he lives with his
        wife
        <a href="https://www.instagram.com/becgoss/">Rebecca</a>
        and their dog,
        <a href="https://www.instagram.com/maudethebord/">Maude</a>. He enjoys
        cycling, cooking and hanging out with&nbsp;friends.
      </p>
      <p>
        Enough of the third person... I was born in London, grew up on the
        Wirral before coming of age in the Midlands (somehow that’s the accent
        that mostly stuck). I went to university in London and then spent a
        while in West Wales.
      </p>
      <p>
        I’ve been building websites since I was a teenager and I have been very lucky with the places and people I’ve worked with over the years.
      </p>
    </div>
  </article>
</section>
