<footer
  class="footer bg-neutral-950/90 text-white/70 grid grid-cols-12 gap-x-8 px-8 py-16 items-center"
>
  <ul class="text-sm flex gap-4 col-span-4 col-start-3" role="navigation">
    <h5 class="uppercase font-semibold">Local</h5>
    <li>
      <a href="/posts">All posts</a>
    </li>
    <li>
      <a href="/posts">All photos</a>
    </li>
    <li>
      <a href="/colophon">Colophon</a>
    </li>
    <li>
      <a href="mailto:jon@jonheslop.com">Email</a>
    </li>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
  </ul>

  <ul class="text-sm flex flex-wrap gap-4 col-span-4">
    <h5 class="uppercase font-semibold">Global</h5>
    <li>
      <a href="https://github.com/jonheslop">Github</a>
    </li>
    <li>
      <a href="https://instagram.com/jonheslop">Instagram</a>
    </li>
    <li>
      <a href="https://last.fm/user/jonheslop">Last.fm</a>
    </li>
    <li>
      <a href="https://letterboxd.com/jonheslop/">Letterboxd</a>
    </li>
    <!-- <li>
      <a href="https://record.club/jonheslop">Record Club</a>
    </li> -->
    <li>
      <a href="https://bsky.app/profile/jonheslop.com">Bluesky</a>
    </li>
  </ul>

  <a
    class="text-sm col-start-12 text-right !no-underline"
    href="https://gif.land"><span class="block">｡◕‿◕｡</span> gif.land</a
  >
</footer>
