<footer
  class="footer text-white/80 grid lg:grid-cols-12 gap-8 p-2 sm:p-4 lg:p-8 py-16 items-center mt-32 bg-black/80"
>
  <ul class="text-sm flex flex-wrap gap-x-4 lg:col-span-6" role="navigation">
    <h5 class="uppercase font-semibold w-full">Local</h5>
    <li>
      <a href="/posts">All posts</a>
    </li>
    <li>
      <a href="/photos">All photos</a>
    </li>
    <li>
      <a href="/colophon">Colophon</a>
    </li>
    <li>
      <a href="/history">History</a>
    </li>
    <li>
      <a href="mailto:jon@jonheslop.com">Email</a>
    </li>
    <li>
      <a href="/feed.xml">RSS</a>
    </li>
  </ul>

  <ul class="text-sm flex flex-wrap gap-x-4 lg:col-span-4">
    <h5 class="uppercase font-semibold w-full">Global</h5>
    <li>
      <a href="https://github.com/jonheslop">Github</a>
    </li>
    <li>
      <a href="https://instagram.com/jonheslop">Instagram</a>
    </li>
    <li>
      <a href="https://last.fm/user/jonheslop">Last.fm</a>
    </li>
    <li>
      <a href="https://letterboxd.com/jonheslop/">Letterboxd</a>
    </li>
    <!-- <li>
      <a href="https://record.club/jonheslop">Record Club</a>
    </li> -->
    <li>
      <a href="https://bsky.app/profile/jonheslop.com">Bluesky</a>
    </li>
  </ul>

  <a
    class="text-sm lg:col-start-12 text-center lg:text-right !no-underline"
    href="https://gif.land"><span class="block">｡◕‿◕｡</span> gif.land</a
  >
</footer>
