---
import { getCollection } from "astro:content";
import { dateOptions } from "../utils/types";

interface Props {
  type: "posts" | "photos";
}

const { type } = Astro.props;

const [{ data: latestPost, id }] = (await getCollection(type))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 1);
---

<a
  class="group hover:bg-white/5 transition-colors
  flex justify-start items-start gap-x-4 group flex-1 pb-4"
  href={`/${type}/${id}`}
>
  <div>
    <h1 class="text-2xl xl:text-3xl font-bold text-balance">
      {latestPost.title}
    </h1>
    <p class="text-pretty">{latestPost.description}</p>
    <span class="text-sm text-white/70 group-hover:text-white transition-colors"
      >{type === "posts" ? "Continue reading" : "View photos"} &raquo;</span
    >
  </div>
  <span class="block text-white/70 hover ml-auto shrink-0 text-lg">
    {new Date(latestPost.date).toLocaleDateString("en-GB", dateOptions)}
  </span>
</a>
