---
import { Font } from "astro:assets";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import NowPlaying from "../components/NowPlaying.astro";

import Logo from "../components/Logo.astro";

import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#637666" />
    <title>{title} | Jon Heslop</title>
    <meta
      name="description"
      content="Jon Heslop is a front end developer based in London."
    />
    <Font cssVariable="--font-soehne" preload />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="jonheslop.com"
      href={new URL("feed.xml", Astro.site)}
    />
  </head>
  <body
    class="bg-fixed bg-cover flex flex-col h-screen"
    style={`background-image: url(/noise-stripe.svg);`}
  >
    <div
      class="font-sans antialiased
 dark:bg-neutral-950 text-white/90 dark:text-neutral-200 relative p-2 sm:p-4 font-medium grid lg:grid-cols-5 gap-x-8 gap-y-24 items-start h-screen"
    >
      <div class="absolute top-2 lg:top-8 z-50">
        <Logo />
      </div>
      <slot />
      <NowPlaying server:defer />
      <About />
    </div>
    <Footer />
  </body>
</html>
