---
import { Font } from "astro:assets";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import NowPlaying from "../components/NowPlaying.astro";
import TopAlbums from "../components/TopAlbums.astro";

import Logo from "../components/Logo.astro";
import me from "../assets/jon-heslop-2024.jpg";

import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#fff" />
    <title>{title} | Jon Heslop</title>
    <meta
      name="description"
      content="Jon Heslop is a front end developer based in London."
    />
    <meta property="og:image" content={me.src} />
    <Font cssVariable="--font-soehne" preload />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="jonheslop.com"
      href={new URL("feed.xml", Astro.site)}
    />
  </head>
  <body class="p-1 sm:p-2 md:p-4 dark:bg-black">
    <div
      class="bg-fixed bg-fenix-red bg-size-[140px] lg:bg-size-[200px] rounded-xs"
      style="background-image: url(/noise.svg);"
    >
      <div
        class="font-sans antialiased
 dark:bg-neutral-950/80 text-white/90 dark:text-white/80 relative p-2 sm:p-4 lg:p-8 font-medium grid sm:grid-cols-2 lg:grid-cols-12 gap-x-8 gap-y-24 lg:pb-32"
      >
        <div
          class="col-span-full lg:col-span-1 row-span-full sticky top-3 lg:top-8 z-50"
        >
          <Logo />
        </div>

        <slot />
        <About />
        <div
          class="sm:col-span-2 lg:col-span-10 lg:col-start-3 grid sm:grid-cols-2 lg:grid-cols-10 gap-x-8 lg:row-start-4"
        >
          <div class="lg:col-span-2">
            <h5 class="text-sm uppercase font-semibold mb-2">
              Last played track
            </h5>
            <NowPlaying server:defer>
              <div slot="fallback">
                <div
                  class="size-[200px] bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
                >
                </div>
                <p class="text-sm mt-1">Fetching track...</p>
              </div>
            </NowPlaying>
          </div>
          <div class="lg:col-start-5 lg:col-span-6 my-16 sm:mt-0 lg:my-0">
            <h5 class="text-sm uppercase font-semibold mb-2 col-span-full">
              Top albums this month
            </h5>
            <div class="grid grid-cols-3 gap-x-4 lg:gap-x-8 lg:mt-0">
              <TopAlbums server:defer>
                <div
                  slot="fallback"
                  class="col-span-3 grid grid-cols-3 gap-x-4 lg:gap-x-8"
                >
                  <div class="w-full">
                    <div
                      class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
                    >
                    </div>
                    <p class="text-sm mt-1">Fetching album...</p>
                  </div>
                  <div class="w-full">
                    <div
                      class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
                    >
                    </div>
                    <p class="text-sm mt-1">Fetching album...</p>
                  </div>
                  <div class="w-full">
                    <div
                      class="aspect-square bg-white/20 border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
                    >
                    </div>
                    <p class="text-sm mt-1">Fetching album...</p>
                  </div>
                </div>
              </TopAlbums>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
