---
import { Font } from "astro:assets";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import NowPlaying from "../components/NowPlaying.astro";

import Logo from "../components/Logo.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#f09e0f" />
    <title>Hello | Jon Heslop</title>
    <!-- <Font cssVariable="--font-soehne" preload /> -->
    <Font cssVariable="--font-soehne" preload />
  </head>
  <body
    class="bg-fixed bg-fenix-green"
    style={`background-image: url(/noise.svg); background-size:200px`}
  >
    <div
      class="font-sans antialiased
 dark:bg-neutral-950 text-white/90 dark:text-neutral-200 relative p-2 sm:p-4 lg:p-8 font-medium grid lg:grid-cols-12 gap-x-8 gap-y-24"
    >
      <div class="row-span-full sticky top-2 lg:top-8 z-50">
        <Logo />
      </div>
      <slot />
      <About />
      <NowPlaying />
    </div>
    <Footer />
  </body>
</html>
