---
import { Image } from "astro:assets";

const tracksResponse = await fetch(
  "http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=jonheslop&api_key=6908805d396f2a48dcac5ac045452754&limit=1&format=json",
);
const tracks = await tracksResponse.json();
const { image, name, artist, album, url } = tracks.recenttracks.track[0];
---

<div class="grid grid-cols-2 gap-4 lg:grid-cols-1 lg:gap-0">
  <Image
    src={image[3]["#text"]}
    alt={name}
    width={200}
    height={200}
    class="border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
    layout="constrained"
  />
  <div class="text-balance flex flex-col gap-1 text-sm mt-1">
    <a href={url} class="block italic link">{name}</a>
    <span class="block">{album["#text"]}</span>
    {artist["#text"]}
  </div>
</div>
