---
import { Image } from "astro:assets";

const response = await fetch(
  "http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=jonheslop&api_key=6908805d396f2a48dcac5ac045452754&format=json",
);
const data = await response.json();
const { image, name, artist, album, url } = data.recenttracks.track[0];
---

<div class="text-sm items-start mt-32 flex flex-col gap-4 self-end">
  <Image
    src={image[3]["#text"]}
    alt={name}
    width={320}
    height={320}
    class="border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
    layout="constrained"
  />
  <div class="text-balance flex flex-col gap-1">
    <h5 class="uppercase font-semibold mb-2">Last played track</h5>
    {artist["#text"]}
    <span class="block">{album["#text"]}</span>
    <a href={url} class="block italic link">{name}</a>
  </div>
</div>
