---
import { clsx } from "clsx";
import { getCollection } from "astro:content";
import { dateOptions, parseDateFromId } from "../utils/types";

interface Props {
  posts: Awaited<ReturnType<typeof getCollection<"stream">>>;
  preview?: boolean;
}

const { posts, preview = false } = Astro.props;

// Filter posts to one row when preview is true
let postsToShow = posts;
if (preview) {
  postsToShow = [];
  let columnsUsed = 0;
  const maxColumns = 6;

  for (const post of posts) {
    if (!post.data.photo) continue;

    const aspectRatio = post.data.photo.width / post.data.photo.height;
    const columnSpan = aspectRatio > 1 ? 2 : 1;

    if (columnsUsed + columnSpan <= maxColumns) {
      postsToShow.push(post);
      columnsUsed += columnSpan;
      if (columnsUsed === maxColumns) break;
    } else {
      break;
    }
  }
}
---

{
  postsToShow.map((post) => {
    const photo = post.data.photo;
    const aspectRatio = photo ? photo.width / photo.height : 0;
    return (
      <li
        class={clsx("relative text-sm lg:col-span-2 self-end", {
          "col-span-2 lg:col-span-4": aspectRatio > 1,
        })}
      >
        <a
          class="group self-stretch object-cover w-full h-full"
          href={`/stream/${post.id}/`}
        >
          {photo && (
            <img
              src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${photo.id}/medium`}
              alt={post.body}
              class={clsx("rounded-xs border-4", {
                "self-stretch object-cover w-full h-full": aspectRatio > 1,
              })}
            />
          )}
          {!photo && (
            <div class="bg-neutral-900/20 aspect-3/4 flex justify-center items-center rounded-xs border-4 font-bold">
              NO PHOTO
            </div>
          )}

          <p class="opacity-0 group-hover:opacity-100 transition-opacity absolute -bottom-6 right-0 text-white/70 mt-2">
            {parseDateFromId(post.id).toLocaleDateString("en-GB", dateOptions)}
          </p>
        </a>
      </li>
    );
  })
}
