---
import { clsx } from "clsx";
import { getCollection } from "astro:content";
import { dateOptions, parseDateFromId } from "../utils/types";
import { getImageAspectRatiosObject } from "../utils/getImageAspectRatios";
interface Props {
  posts: Awaited<ReturnType<typeof getCollection<"stream">>>;
}

const { posts } = Astro.props;
const streamIds = posts
  .map((post) => post.data.photo)
  .filter((id) => id !== undefined);
const photos = await getImageAspectRatiosObject(streamIds);
---

{
  posts.map((post, index) => (
    <li
      class={clsx("relative text-sm lg:col-span-2 self-end", {
        "sm:col-span-2 lg:col-span-4":
          photos[post.data.photo || ""]?.aspectRatio > 1,
      })}
    >
      <a
        class="group self-stretch object-cover w-full h-full"
        href={`/stream/${post.id}/`}
      >
        {post.data.photo && (
          <img
            src={`https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/${photos[post.data.photo].cloudflareId}/medium`}
            alt={post.body}
            class={clsx("rounded-xs border-4", {
              "self-stretch object-cover w-full h-full":
                photos[post.data.photo].aspectRatio > 1,
            })}
          />
        )}
        {post.data.photo === undefined && (
          <div class="bg-neutral-900/20 aspect-3/4 flex justify-center items-center rounded-xs border-4 font-bold">
            NO PHOTO
          </div>
        )}

        <p class="opacity-0 group-hover:opacity-100 transition-opacity absolute -bottom-6 right-0 text-white/70 mt-2">
          {parseDateFromId(post.id).toLocaleDateString("en-GB", dateOptions)}
        </p>
      </a>
    </li>
  ))
}
