---
import { Image } from "astro:assets";

const albumsResponse = await fetch(
  "http://ws.audioscrobbler.com//2.0/?method=user.gettopalbums&user=jonheslop&period=1month&limit=3&api_key=6908805d396f2a48dcac5ac045452754&format=json",
);
const albums = await albumsResponse.json();
---

{
  albums.topalbums?.album.map((album) => (
    <div>
      <Image
        src={album.image[3]["#text"]}
        alt={album.name}
        width={200}
        height={200}
        class="border-2 rounded-xs mix-blend-luminosity hover:mix-blend-normal"
        layout="constrained"
      />
      <div class="text-balance flex flex-col leading-tight gap-1.5 text-sm mt-1.5">
        <a href={album.url} class="block italic link">
          {album.name}
        </a>
        {album.artist.name}
      </div>
    </div>
  ))
}
