---
import { turso, type Link } from "../../utils/turso";
import Layout from "../../components/Layout.astro";
import { dateOptions } from "../../utils/types";
import { prettifyUrl } from "../../utils/string";

const { rows } = await turso().execute("SELECT * FROM links ORDER BY id DESC");
const links = rows as Link[];
---

<Layout title="Links">
  <header class="lg:col-span-10 lg:col-start-3">
    <h1 class="text-4xl lg:text-6xl font-semibold text-balance">Links</h1>
    <p class="text-lg text-white/70 max-w-xl mt-4 leading-snug text-pretty">
      Links to things I’ve seen and liked around the web
    </p>
  </header>
  <ul class="lg:col-start-3 lg:col-span-11">
    {
      links.map((row) => (
        <li class="border-t border-white/20 last:border-b">
          <a
            href={row.url}
            class="block group hover:bg-white/10 transition-colors py-3"
          >
            <header class="flex">
              <h2 class="text-lg font-bold leading-snug underline underline-offset-2">
                {row.title}
              </h2>
              <p class="text-white/70 ml-auto shrink-0 text-lg leading-snug">
                {new Date(row.date).toLocaleDateString("en-GB", dateOptions)}
              </p>
            </header>
            <p class="truncate">
              <span class="text-sm text-white/50 group-hover:text-white transition-colors">
                {prettifyUrl(row.url)}
              </span>
            </p>
            <p class="text-white text-base leading-snug mt-2 max-w-lg text-pretty mb-3">
              {row.comment}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
