---
import { turso, type Link } from "../../utils/turso";
import Layout from "../../components/Layout.astro";
import LinkItem from "../../components/LinkItem.astro";

const { rows } = await turso().execute("SELECT * FROM links ORDER BY id DESC");
const links = rows as Link[];
---

<Layout title="Links">
  <header class="lg:col-span-10 lg:col-start-3">
    <h1 class="text-4xl lg:text-6xl font-semibold text-balance">Links</h1>
    <p class="text-lg text-white/70 max-w-xl mt-4 leading-snug text-pretty">
      Links to things I’ve seen and liked around the web
    </p>
  </header>
  <ul class="lg:col-start-3 lg:col-span-6">
    {links.map((link) => <LinkItem link={link} />)}
  </ul>
</Layout>
