---
import { turso, type Link } from "../../../utils/turso";
import Layout from "../../../components/Layout.astro";
import LinkItem from "../../../components/LinkItem.astro";

export async function getStaticPaths() {
  const { rows } = await turso().execute(
    "SELECT tags FROM links WHERE tags IS NOT NULL",
  );

  const uniqueTags = new Set<string>();
  for (const row of rows) {
    const tags = (row.tags as string).split(", ");
    tags.forEach((tag) => uniqueTags.add(tag));
  }

  return Array.from(uniqueTags).map((tag) => ({
    params: { slug: tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;

const { rows } = await turso().execute(
  "SELECT * FROM links WHERE tags LIKE '%' || ? || '%'",
  [tag],
);
const links = rows as Link[];
---

<Layout title="Links">
  <header class="lg:col-span-10 lg:col-start-3">
    <h1 class="text-4xl lg:text-6xl font-semibold text-balance">
      Links tagged &ldquo;{tag}&rdquo;
    </h1>
    <a
      href="/links"
      class="block mt-4 text-white/70 hover:text-white transition-colors duration-200"
    >
      &larr; Back to all links
    </a>
  </header>
  <ul class="lg:col-start-3 lg:col-span-6">
    {links.map((link) => <LinkItem link={link} />)}
  </ul>
</Layout>
