---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";
import StreamList from "../../components/StreamList.astro";

const stream = (await getCollection("stream")).sort((a, b) => {
  const [yearA, dayA] = a.id.split("/").map(Number);
  const [yearB, dayB] = b.id.split("/").map(Number);
  if (yearB !== yearA) return yearB - yearA;
  return dayB - dayA;
});
---

<Layout title="Stream">
  <header class="lg:col-span-10 lg:col-start-3">
    <h1 class="text-4xl lg:text-6xl font-semibold text-balance">Stream</h1>
    <p class="text-lg text-white/70 max-w-xl mt-4 leading-snug text-pretty">
      One photo a day, inspired by <a
        class="underline underline-offset-2"
        href="https://retro.app/u/jonheslop">retro.app</a
      >’s weekly layout.
    </p>
  </header>
  <ul
    class="grid grid-cols-2 sm:grid-cols-subgrid sm:col-span-2 lg:col-span-12 gap-2 sm:gap-4 md:gap-8"
  >
    <StreamList posts={stream} />
  </ul>
</Layout>
