---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";
import StreamList from "../../components/StreamList.astro";

const stream = (await getCollection("stream")).sort((a, b) => {
  const [yearA, dayA] = a.id.split("/").map(Number);
  const [yearB, dayB] = b.id.split("/").map(Number);
  if (yearB !== yearA) return yearB - yearA;
  return dayB - dayA;
});

// Stats
const totalPhotos = stream.filter((post) => post.data.photo).length;
const cameraCounts: Record<string, number> = {};

stream.reduce((acc, post) => {
  if (post.data.camera) {
    acc[post.data.camera] = (acc[post.data.camera] || 0) + 1;
  }
  return acc;
}, cameraCounts);
---

<Layout title="Stream">
  <header class="lg:col-span-4 lg:col-start-3">
    <h1 class="text-4xl lg:text-6xl font-semibold text-balance">Stream</h1>
    <p class="text-lg text-white/70 max-w-xl mt-4 leading-snug text-pretty">
      One photo a day, inspired by <a
        class="underline underline-offset-2"
        href="https://retro.app/u/jonheslop">retro.app</a
      >’s weekly layout. There is an <a
        class="underline underline-offset-2 text-white/70 hover:text-white transition-colors duration-200"
        href="/stream/feed.xml">RSS feed</a
      >.
    </p>
  </header>
  <aside class="lg:col-span-6 self-end">
    <ul class="flex gap-8 sm:justify-end">
      <li>
        <strong class="block font-bold text-3xl leading-none">
          {totalPhotos}
        </strong>
        <span class="text-base">photos</span>
      </li>

      {
        Object.entries(cameraCounts).map(([camera, count]) => (
          <li>
            <strong class="block font-bold text-3xl leading-none">
              {count}
            </strong>
            <span class="text-base">{camera}</span>
          </li>
        ))
      }
    </ul>
  </aside>
  <ul
    class="grid grid-cols-2 sm:grid-cols-subgrid sm:col-span-2 lg:col-span-12 gap-2 sm:gap-4 lg:gap-8"
  >
    <StreamList posts={stream} />
  </ul>
</Layout>
